    <!DOCTYPE html>
    <html lang="vi">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
        <title>Đăng ký</title>
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
    <nav>
        <a href="/">Trang chủ</a>
        <a href="/signup">Đăng ký</a>
        <a href="/login">Đăng nhập</a>
    </nav>

    <main>
        <section class="sign">
            <h1>Đăng Ký</h1>
            <form action="/signup" method="POST">
                <div>
                    <label for="username">Tên đăng nhập</label>
                    <input type="text" id="username" name="username" required>
                </div>
                <div>
                    <label for="password">Mật khẩu</label>
                    <input type="password" id="password" name="password" required>
                </div>
                <div>
                    <label for="rePassword">Nhập lại mật khẩu</label>
                    <input type="password" id="rePassword" name="rePassword" required>
                </div>
                <div>
                    <label for="email">Email</label>
                    <input type="email" id="email" name="email" required>
                </div>
                <div>
                    <label for="phone">Số điện thoại</label>
                    <input type="tel" id="phone" name="phone" required>
                </div>
                <button type="submit">Đăng Ký</button>
            </form>
            <div>
                <p th:if="${error != null}" th:text="${error}"></p>
            </div>

        </section>
    </main>
    </body>
    </html>
